<%- layout('layouts/main.ejs') %>
    <link rel="stylesheet" href="layouts/style.css">
    <div class="card card-body" style="margin-top: 50px;">
        <figure>
            <blockquote class="blockquote">
                <p class="mb-0">DEMO LOGIN/LOGOUT SYSTEM</p>

            </blockquote>
        </figure>
        <div>
            <ul class="navbar-nav me-auto ml-auto" style="text-align:center">
                <li class="nav-item">
                    <a class="nav-link" href="/signin">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
            </ul>
        </div>
        <figcaption class="blockquote-footer">
            by<cite title="Source Title">Mateo Maldonado</cite>
        </figcaption>
    </div>